#starter-section,
#question-list,
#end-container,
#high-score-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display:block;
}

h1,
h2 {
    color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#answer-buttons {
    margin-top: 20px;
}

#timer {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
}

#high-score-container ul {
    list-style: none;
    padding: 0;
}

.high-score {
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #starter-section,
    #question-list,
    #end-container,
    #high-score-container {
        width: 90%;
    }
}

#timer {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
}

.wrong-banner {
    background-color: #ff5436;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.right-banner {
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}